
.aicards-wrapper .aicards {
    display: flex;
    flex-direction: row; /* Ensure cards are side by side */
    justify-content: space-between; /* Distribute cards evenly */
    gap: 20px; /* Adjust spacing between cards */
}

.aicards-wrapper .aicards > div {
    display: flex;
    flex-direction: row; /* Ensure cards are side by side */
    width: 100%;
}

.aicards-wrapper .aicards > div > div {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 100%; /* Ensure full width of the container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    align-items: flex-start; /* Ensure all elements are left-aligned */
}

.aicards-wrapper .aicards img {
    width: 100%;
    height: auto;
}

.aicards-wrapper .aicards h5 {
    font-size: 0.9997rem;
    line-height: 23.996px;
    letter-spacing: 0.33px;
    text-align: left;
    width: 90%;
    font-family: var(--body-font-family);
    font-weight: 500;
}

.aicards-wrapper .aicards .button-container {
    margin-top: 5px; /* Reduce spacing */
    display: flex;
    justify-content: flex-start; /* Left align the buttons */
    width: 100%; /* Ensure full width */
}

.aicards-wrapper .aicards .button {
    color: #B50232; /* Change to red */
    background: none; /* Remove background */
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-family: var(--body-font-family);
    font-size: 0.8097rem;
}

.section #our-voices {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: var(--body-font-family);
    font-weight: 400;
}

.aicards-wrapper .aicards .button::after {
    content: '';
    margin-left: 15px; /* Adjust spacing as needed */
    color: red; /* Ensure the arrow is the same color as the text */
    display: inline-block;
    width: 15px; /* Adjust width as needed */
    height: 15px; /* Adjust height as needed */
    background: url("../../icons/chevron-right-energy.svg") no-repeat;
}

.aicards-wrapper .aicards picture {
    max-width: 100%;
    display: block;
    width: 263px;
    height: auto;
}


@media (width >= 900px) {
    .aicards-wrapper .aicards {
        align-items: flex-start; /* Align items to the start */
        flex-direction: row; /* Ensure flex direction is horizontal */
        gap: 24px; /* Adjust gap as needed */
    }

    .aicards-wrapper .aicards > div > div {
        flex: 1;
        order: unset;
    }
}
