
.ailist-wrapper .ailist {
  display: flex;
  flex-direction: column;
}

.ailist-wrapper .ailist > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Ensure elements are centered */
  padding-bottom: 20px;
}

.ailist-wrapper .ailist > div:first-child {
  display: block;
  border-bottom: none;
  padding-bottom: 0;
}

.ailist-wrapper .ailist > div > div:first-child {
    max-width: 100%;
}

.ailist-wrapper .ailist > div > div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 20px; /* Ensure space for the arrow */
}

.ailist-wrapper .ailist h3 a {
    max-width: 90% !important;
    color: #2d2323;
    margin: 0;
    text-align: left;
    display: inline-block;
    line-height: 1.5002rem;
    font-size: 13px;
    font-family: var(--body-font-family);
}

.ailist-wrapper .ailist > div > div h3 {
  margin: 0 0 10px;
  color: black; /* Ensure headline links are black */
}

.ailist-wrapper .ailist > div > div p {
  display: block;
  line-height: 1.5 !important;
  color: #666;
  overflow: hidden;
  inline-size: 100%;
  margin-bottom: 0;
  letter-spacing: 0.33px;
  font-size: 12px;
  font-family: var(--body-font-family);
  font-weight: 200;
  margin-top: 0;
}

.ailist-wrapper .ailist > div > div .button-container a {
  background: none;
  color:  #B50232; /* Ensure link color is black */
  padding: 0;
  border: none;
  font: inherit;
  display: inline-block;
  margin-top: 22px;
}

.ailist-wrapper #latest-news {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: var(--body-font-family);
  font-weight: 400;
}

.ailist-wrapper #media-release {
    font-size: 28px;
    font-family: var(--body-font-family);
    font-weight: 400;
}

@media (width >= 900px) {
  .ailist-wrapper .ailist > div {
    align-items: center; /* Ensure elements are centered */
    flex-direction: row;
  }

  .ailist-wrapper .ailist > div > div {
    flex: 1;
    order: unset;
  }

  .ailist-wrapper .ailist > div > div:first-child {
    max-width: calc(100% - 50px); /* Ensure text block takes more space */
  }
}
