
.aifooter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.aifooter {
  width: 100%;
  max-width: 1200px;
    display: flex;

}

.aifooter > div:first-child {
  display: flex;
  flex-flow: row nowrap; /* Ensure elements are side by side */
  justify-content: space-between;
  align-items: flex-start; /* Prevent wrapping */
  margin-bottom: 40px;
}

.aifooter > div:nth-child(2) {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.aifooter > div:nth-child(2) p {
  margin: 0;
}

.aifooter > div:nth-child(2) p a {
  margin: 0 5px;
}

.aifooter > div:first-child > div {
  flex: 1;
  min-width: 300px;
}

.aifooter #contact-us {
    font-size: 1rem;
    letter-spacing: 0.56px;
    font-family: "Adobe Clean Han";
    font-weight: 400;
    margin-bottom: 0 !important;
}

.aifooter > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aifooter > div:first-child > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aifooter > div:first-child > div:last-child > p:first-child {
  margin: 0 0 10px; /* Add margin to the bottom to separate from icons */
  text-align: right;
  width: 100%;
}

.aifooter > div:first-child > div:last-child > p:last-child {
  margin-bottom: 0;
  display: flex;
  flex-direction: row; /* Ensure social media icons are in a row */
  justify-content: flex-start;
  align-items: center;
}

.aifooter > div:nth-child(2) {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.aifooter > div:nth-child(2) p {
    margin-top: 30px;
}

.aifooter img {
  width: auto;
  max-width: 24px; /* Adjust the width of the icons */
  height: auto;
}

.aifooterdefault-wrapper a:any-link {
    color: #B50232 !important;
}

@media (width <= 768px) {
  .aifooter > div:first-child {
    flex-direction: column;
  }

  .aifooter > div:first-child > div {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .aifooter > div:first-child > div:last-child {
    align-items: flex-start;
  }
}
