footer {
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 0.775rem;
    font-weight: 400;
}

footer::after {
    content: "";
    width: 100vw;
    height: 1.2vw;
    position: relative;
    background: url("../../icons/footer-bar.svg") no-repeat;
    background-size: cover;
    display: block;
}

footer .aifooter .button-container a {
    background-color: white;
    color: #B50232;
    padding: 0;
    border: none;
    font: inherit;
    font-size: 0.775rem;
    display: inline-block;
    margin-top: 10px;
}

footer em {
    font-weight: 400;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
